@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;0,900;1,700;1,900&display=swap');

body{
    font-family: 'Lato', sans-serif;
    background-color: #eee;
}
#contact i:hover{
    cursor: pointer;
    color: rgba(0,0,0,0.6);
}
#main{
    width: 100%;
}
#blogwp{
    width: 100%;
    height: auto;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
   -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
#aboutMe{
    margin-bottom: 3rem;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}
#awards{
    margin-bottom: 3rem;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

#contact{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;
}

.card{
    margin: auto;
    text-align: center;
}
.col{
    margin-bottom: 30px;
}
#aboutMe h2{
    text-align: center;
    margin-bottom: 20px;
}
#awards h2{
    margin-bottom: 40px;
}